@include font-face(My-Font, '/fonts/my_font/MyFont-Italic', normal, italic);
@import url(http://fonts.googleapis.com/css?family=Open+Sans);
@import url(http://fonts.googleapis.com/css?family=Averia+Gruesa+Libre);
@import url(http://fonts.googleapis.com/css?family=Lato|Antic+Slab|PT+Serif+Caption|Open+Sans:300italic,400|Open+Sans+Condensed:300);
@import url(http://fonts.googleapis.com/css?family=Vollkorn:400italic,400);
@import url(http://fonts.googleapis.com/css?family=Spinnaker);
@import url(http://fonts.googleapis.com/css?family=ABeeZee:400,400italic|Flamenco:300,400|Crete+Round:400,400italic|Bree+Serif|Sintony:400,700|Hind:400,300|Oxygen:400,300|Stint+Ultra+Expanded);

// Typography
$sans-serif: "Crete Round";
$serif: "ABeeZee";
$base-font-family: $sans-serif;
$header-font-family: $base-font-family;

// Font Sizes
$base-font-size: 1em;
$h1-font-size: $base-font-size * 2.25;
$h2-font-size: $base-font-size * 2;
$h3-font-size: $base-font-size * 1.75;
$h4-font-size: $base-font-size * 1.5;
$h5-font-size: $base-font-size * 1.25;
$h6-font-size: $base-font-size;

// Line height
$base-line-height: 1.5;
$header-line-height: 1.25;

// Other Sizes
$base-border-radius: 3px;
$base-spacing: $base-line-height * 1em;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;

// Colors
$splash-blue: rgb(10, 49, 115);
$medium-blue: rgb(72, 109, 173);
$light-blue: #9ebef6;
$dark-gray: #333;
$medium-gray: #999;
$light-gray: #DDD;
$light-red: #FBE3E4;
$light-yellow: #FFF6BF;
$light-green: #E6EFC2;
$teal: rgb(0, 132, 114) !default;
$off-white: #e3e5e8 !default;
$action-color: $splash-blue;


// Background Color
$base-background-color: white;

// Font Colors
$base-font-color: $dark-gray;
$base-accent-color: $splash-blue;

// Link Colors
$base-link-color: $base-accent-color;
$hover-link-color: darken($base-accent-color, 15);
$base-button-color: $base-link-color;
$hover-button-color: $hover-link-color;

// Flash Colors
$alert-color: $light-yellow;
$error-color: $light-red;
$notice-color: lighten($base-accent-color, 40);
$success-color: $light-green;

// Border color
$base-border-color: $light-gray;
$base-border: 1px solid $base-border-color;

// Forms
$form-border-color: $base-border-color;
$form-border-color-hover: darken($base-border-color, 10);
$form-border-color-focus: $base-accent-color;
$form-border-radius: $base-border-radius;
$form-box-shadow: inset 0 1px 3px rgba(black,0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px rgba(darken($form-border-color-focus, 5), 0.7);
$form-box-shadow: inset 0 1px 3px rgba(#000, 0.06);
$form-font-size: $base-font-size;
$form-font-family: $base-font-family;
