<main>

  <!-- nav bar  -->
  <nav class="pink-gradient">
    <ul>
      <li><%= image_tag "telephone-48.png", class: "icon icon-phone" %></li>
      <li>About</li>
      <li>Services</li>
      <li>Reviews</li>
      <li>Contact Us</li>
    </ul>
  </nav>

  <!-- splash page -->
  <section id="splash" class="parallax-window">
    <div class="parallax-content">
      <h1>Otto's Appliance Service, Inc.</h1>
      <h3>Serving prompt, reliable appliance repairs since 1957.</h3>
    </div>
    <div class="parallax-background"></div>
  </section>

  <!-- about page -->
  <section id="about" class="slide slide-reg">
    <div class="slide-content">
      <h2>Who we are</h2>
      <video id="MY_VIDEO_1" class="video-js vjs-default-skin" controls
      preload="auto" width="100%" height= "350px" poster="assets/nanu.png"
      data-setup="{}">
        <source src="http://cf.c.ooyala.com/J1bjI0cTpletnaKA7_rZR2iUsIWpTyEg/DOcJ-FxaFrRg4gtDEwOjEzYzowazumG4?_=daocht73nmi" type='video/mp4'>
        <source src="http://cf.c.ooyala.com/J1bjI0cTpletnaKA7_rZR2iUsIWpTyEg/DOcJ-FxaFrRg4gtDEwOjEzYzowazumG4?_=daocht73nmi" type='video/webm'>
        <p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p>
      </video>
      <p> Otto's Appliance Service Inc. is a family owned and operated business servicing the Bay Area since 1957. We believe in quality service and do as much
        as we can to satisfy our customers. What makes us different is our experience and long-standing reputation. </p>
    </div>
  </section>

  <!--   -->
  <section id="brands" class="slide slide-short">
    <div class="slide-content">
      <h2>Brands we service</h2>

    </div>
  </section>
</main>
