@include font-face(My-Font, '/fonts/my_font/MyFont-Italic', normal, italic);
@import url(http://fonts.googleapis.com/css?family=Open+Sans);
@import url(http://fonts.googleapis.com/css?family=Averia+Gruesa+Libre);
@import url(http://fonts.googleapis.com/css?family=Lato|Antic+Slab|PT+Serif+Caption|Open+Sans:300italic,400|Open+Sans+Condensed:300);
@import url(http://fonts.googleapis.com/css?family=Vollkorn:400italic,400);
@import url(http://fonts.googleapis.com/css?family=Spinnaker);


body, html {
  font-family: 'Open Sans';
  font-size: 100%;
  width: 100%;
  background-color: #FBFBFB;
  text-shadow: 0px 0px 0px #393939;
}

main {
  display: inline-block;
  @include fill-parent();
}

h1, h2, h3 {

  text-shadow: 0px 1px 1px #bababa;
}

h1 {

  font-size: 3.25em;
}

h2 {
  font-size: 25px;
  margin-bottom: 1em;
  font-style: normal;
  font-family: 'Spinnaker';
  color: #333;
}
video {
  -webkit-box-shadow: 15px 20px 29px -10px rgba(38,34,38,1);
  -moz-box-shadow: 15px 20px 29px -10px rgba(38,34,38,1);
   box-shadow: 15px 20px 29px -10px rgba(38,34,38,1);
}

p {
  padding: 2.5em;
  color: #6e6e6e;

}

section.slide {
  @include fill-parent();
  @include outer-container();
  @include pad (3.375em);
  .slide-tall {
    height: 750px;
  }
  .slide-reg {
    height: 500px;
  }
  .slide-short {
    height: 300px;
  }
}

.slide-content {
  text-align: center;
  @include span-columns(8);
  @include shift(2);
}

.parallax-window {
  overflow: hidden;
  position: relative;
  width: 100%;
}

.parallax-background {
  width: 100%;
  position: absolute;
  background-position: top;
  @include fill-parent();
}

nav {
  position: absolute;
  top: 0;
  height: 500px;
  width: 75px;
  justify-content: space-around;
  z-index: 999;
  display: flex;
  flex-flow: column-wrap;
}

nav li {

}

.pink-gradient {
  background: rgba(115,26,51,0.91);/* Old Browsers */
  background: -moz-linear-gradient(left, rgba(115,26,51,0.91) 0%, rgba(115,26,51,0.92) 0%, rgba(102,51,96,0.92) 100%); /* FF3.6+ */
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(115,26,51,0.91)), color-stop(0%, rgba(115,26,51,0.92)), color-stop(100%, rgba(102,51,96,0.92)));/* Chrome, Safari4+ */
  background: -webkit-linear-gradient(left, rgba(115,26,51,0.91) 0%, rgba(115,26,51,0.92) 0%, rgba(102,51,96,0.92) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, rgba(115,26,51,0.91) 0%, rgba(115,26,51,0.92) 0%, rgba(102,51,96,0.92) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(left, rgba(115,26,51,0.91) 0%, rgba(115,26,51,0.92) 0%, rgba(102,51,96,0.92) 100%); /* IE 10+ */
  background: linear-gradient(to right, rgba(115,26,51,0.91) 0%, rgba(115,26,51,0.92) 0%, rgba(102,51,96,0.92) 100%);/* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#731a33', endColorstr='#663360', GradientType=1 );/* IE6-9 */
}


// splash page
#splash.parallax-window {
  height: 100%;
  max-width: 100%;
}

#splash .parallax-content {
  color: #fff;
  text-align: center;
  width: 100%;
  position: relative;
  z-index: 8;
  padding: 17%;
}

#splash h1, h3 {
  font-family: 'PT Serif Caption';
  color: #DBDBDB;
}

#splash .parallax-background {
  background: url("ottos-splash2.jpg");
  background-size: cover;
}

#about {

}
