@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?-2aac9w');
	src:url('fonts/icomoon.eot?#iefix-2aac9w') format('embedded-opentype'),
		url('fonts/icomoon.woff?-2aac9w') format('woff'),
		url('fonts/icomoon.ttf?-2aac9w') format('truetype'),
		url('fonts/icomoon.svg?-2aac9w#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-home3:before {
	content: "\e902";
}

.icon-office:before {
	content: "\e903";
}

.icon-price-tags:before {
	content: "\e936";
}

.icon-envelop:before {
	content: "\e945";
}

.icon-location:before {
	content: "\e947";
}

.icon-location2:before {
	content: "\e948";
}

.icon-compass2:before {
	content: "\e94a";
}

.icon-keyboard:before {
	content: "\e955";
}

.icon-bubble2:before {
	content: "\e96e";
}

.icon-quotes-left:before {
	content: "\e977";
}

.icon-quotes-right:before {
	content: "\e978";
}

.icon-hour-glass:before {
	content: "\e979";
}

.icon-wrench:before {
	content: "\e991";
}

.icon-cog:before {
	content: "\e994";
}

.icon-cogs:before {
	content: "\e995";
}

.icon-hammer:before {
	content: "\e996";
}

.icon-meter:before {
	content: "\e9a6";
}

.icon-briefcase:before {
	content: "\e9ae";
}

.icon-truck:before {
	content: "\e9b0";
}

.icon-road:before {
	content: "\e9b1";
}

.icon-target:before {
	content: "\e9b3";
}

.icon-power-cord:before {
	content: "\e9b7";
}

.icon-star-empty:before {
	content: "\e9d7";
}

.icon-point-up:before {
	content: "\ea03";
}

.icon-point-right:before {
	content: "\ea04";
}

.icon-point-down:before {
	content: "\ea05";
}

.icon-point-left:before {
	content: "\ea06";
}

.icon-cross:before {
	content: "\ea0f";
}

.icon-play3:before {
	content: "\ea1c";
}

.icon-arrow-down:before {
	content: "\ea36";
}

.icon-arrow-down2:before {
	content: "\ea3e";
}

.icon-circle-down:before {
	content: "\ea43";
}

.icon-checkbox-unchecked:before {
	content: "\ea53";
}

.icon-radio-unchecked:before {
	content: "\ea56";
}

.icon-mail:before {
	content: "\ea83";
}

.icon-facebook2:before {
	content: "\ea8d";
}

.icon-facebook3:before {
	content: "\ea8e";
}

.icon-star:before {
	content: "\e600";
}

.icon-tag:before {
	content: "\e601";
}

.icon-bulb:before {
	content: "\e602";
}

.icon-location3:before {
	content: "\e603";
}

.icon-bubble:before {
	content: "\e604";
}

.icon-truck2:before {
	content: "\e605";
}
