<!DOCTYPE html>
<html>
<head>
  <title>Camcos</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
  <link href="http://vjs.zencdn.net/4.11/video-js.css" rel="stylesheet">
  <script src="http://vjs.zencdn.net/4.11/video.js"></script>
  <style type="text/css">
  .vjs-default-skin { color: #717176; }
  .vjs-default-skin .vjs-play-progress,
  .vjs-default-skin .vjs-volume-level { background-color: #787878 }
  .vjs-default-skin .vjs-control-bar,
  .vjs-default-skin .vjs-big-play-button { background: rgba(49,49,49,0.7) }
  .vjs-default-skin .vjs-slider { background: rgba(49,49,49,0.2333333333333333) }
  .vjs-default-skin .vjs-control-bar { font-size: 60% }
  </style>
  <!-- <link href='assets/normalize.css' rel='stylesheet' type='text/css'> -->
  <link href='assets/icomoon/style.css' rel='stylesheet' type='text/css'>
  <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
  <script src="//maps.google.com/maps/api/js?sensor=true"></script>
  <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>



  <%= stylesheet_link_tag    'application', media: 'all'%>
  <%= javascript_include_tag 'application'%>
  <%= csrf_meta_tags %>
</head>
<body class="loading">

<%= yield %>

</body>

</html>
